/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*****************************************************************
/Core elements
/*****************************************************************/
body{
    background-color:#333;
    overflow: hidden;
    font-family: arial, helvetica, sans-serif;
    font-size: 62.5%;
}
#wrapper{
    margin:0 auto;
    width:403px;
    height:673px;
    padding:75px 0 0 60px;
    background: url(../img/tennisCourt.png) no-repeat 0 0;
    -moz-box-shadow: 0 0 55px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 0 55px rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.9);
}
#court{
    width: 341px;
    height:599px;
    position: relative;
}
/*****************************************************************
/Ball
/*****************************************************************/
#ball{
    width:14px;
    height:14px;
    background:url(../img/tennisSprite.png) no-repeat -33px -166px;
    position:absolute;
    top:295px;
    left:165px;
}
/*****************************************************************
/Player 1
/*****************************************************************/
#player1{
    width:52px;
    height:73px;
    background:url(../img/tennisSprite.png) no-repeat -104px -2px;
    position:absolute;
    top:-55px;
    left:110px;
    border-bottom: 1px solid red;
}
#player1.left{
    background-position: -104px -2px;
}
#player1.right{
    background-position: 4px -2px;
}
#player1.active{
    background-position: -195px -2px;
}
/*****************************************************************
/Player 2
/*****************************************************************/
#player2{
    width:52px;
    height:73px;
    background:url(../img/tennisSprite.png) no-repeat -4px -80px;
    position:absolute;
    top:541px;
    left:110px;
    border-bottom: 1px solid red;
}
#player2.left{
    background-position: -111px -80px;
}
#player2.right{
    background-position: -4px -80px;
}
#player2.active{
    background-position: -278px -80px;
}
/*****************************************************************
/Help
/*****************************************************************/
#help {
    position:absolute;
    bottom: 10px;
    right: 10px;
    background-color: #000;
    border:  1px solid #fff;
    color: #fff;
    font-size: 1em;
    padding: 10px;
    opacity: 0.05;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
#help:hover {
    opacity: 1;
    scale: 1;
}
#help h1{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}
#help h2{
    font-size: 1.1em;
    float: left;
    margin: 5px 0;
}
#help dt{
    float: left;
    clear: left;
}
#help dd{
    float: left;
    margin-left: 5px;
}
/*****************************************************************
/Score 
/*****************************************************************/
#scoreBoard {
    position: absolute;
    top: 10px;
    left: 10px;
}
#scoreBoard dt {
    color: #fff;
    font-size: 2em;
    float: left;
    margin:  0 5px 0 10px;
    font-weight: bold;
}
#scoreBoard dd{
    color: #fff;
    font-size: 2em;
    float: left;
    margin:  0 10px 0 5px;
}